// *{
//     box-sizing: border-box;
// }
.menuDiv{
    // border: 1px solid green;
    // height: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap:0.2em;
    font-family: "Segoe UI";
    button{
        // background-color: white;
        font-family: "Segoe UI";
        font-size: 16px;
        color: green;
        padding: 0.5em;
        border-radius: 4px;
        border: none;
        &:hover{
            outline: 1px solid #44444444;
        }
        // aspect-ratio: 1/1;
    }
    background-color: #f5f5f5;
    padding: 0.4em;
    .sheetArrayChanger, .aggregates, .textWrapControl, .searchDiv{
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0.4em;
        margin-inline: 1em;
        // background-color: white;
        border: 1px solid #44444444;
        box-shadow: 0px 0px 5px 2px #44444444;
        border-radius: 4px;
        outline: none;
    }

    .searchDiv{
        input{
            // width: 0%;
            font-family: "Segoe UI";
            width: 100%;
            padding: 0.4em;
            border-radius: 4px;
            background-color: white;
            border: none;
            &:focus, &:focus-within{
                outline: none;
            }
        }
        // &:hover input, input:focus{
        //     width: 100%;
        // }
        // &::after{
        //     content: "🔍";
        // }
    }
    // .aggregates{
    //     padding-block: 1em;
    //     span{
    //         // padding: 1em;
    //         padding-inline-end:1em;
    //     }
    // } 
}
.sheetContainer{
    height: calc(100% - 20px);
    overflow: hidden;
}

.sheetTabs{
    display:flex;
    // flex-wrap:wrap;
    gap:1px;
    align-items:flex-end;
    height:1.4em;
    padding-block:0.5em;
    input.sheetTab{
      font-family: "Segoe UI";
      background: yellowgreen;
      max-width: 50px;
      padding:4px;
      border-radius:4px 4px 2px 2px;
      border:none;
      cursor:pointer;
      height:1.2em;
      transition:height 0.2s ease;
  &:focus, &:focus-within{
        outline:none;
      }
  &[data-current]{
        // transform-origin: bottom;
        height:1.8em;
        // transform: scale(1, 1.2);
      }
    }
  }
  
.popup{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: none;
    place-items: center;
    margin: auto;
    pointer-events: none;
    background-color: #80808033;
}

.find-and-replace{
    background-color: white;
    padding: 1em;
    position: relative;
    display: grid;
    gap: 1em;
    pointer-events: all;
    border-radius: 4px;
    font-family: "Segoe UI";
    // transition: left 0.1s linear 0.1s, top 0.1s linear 0.1s;
    button{
        border: none;
        padding: 0.5em;
        cursor: pointer;
        border-radius: 4px;
    }
    input{
        padding: 0.4em;
        &:focus, &:focus-visible{
            outline: none;
        }
    }
    
    .option-tab{
        display: flex;
        gap: 1em;
        input[type="radio"]{
            display: none;
        }
        label{
            padding: 0.4em;
            position: relative;
            cursor: pointer;
            &:has(:checked){
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 3px;
                    background-color: #107c41;
                    left: 0px;
                }
            }
            &:hover{
                background-color: rgb(237, 235, 233);
            }
        }
        
    }
    h3{
        color: #107c41;
        cursor: all-scroll;
    }
    .find-bar, .replace-bar{
        display: grid;
        gap: 0.4em;
    }
    .btn-div{
        display: flex;
        gap: 0.5em;
    }
    .find-btn{
        background-color: #107c41;
        color: white;
    }
    .close-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        background: transparent;
        // padding: 0px;
        &:hover{
            background-color: rgb(237, 235, 233);
        }
    }

    &:has(#find-radio:checked){
        .replace-bar, .replace-btn{
            display: none;
        }
    }
    
}