.menuDiv {
  flex-direction: column;
  align-items: stretch;
  font-family: "Segoe UI";
  background-color: #f5f5f5;
}
.menuDiv button {
  font-family: "Segoe UI";
  font-size: 16px;
  color: green;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: white;
}
.menuDiv button:hover {
  outline: 1px solid rgba(68, 68, 68, 0.2666666667);
}
.menuDiv .menuTabDiv {
  display: flex;
  gap: 4px;
  margin-inline: 4px;
  margin-top: 4px;
}
.menuDiv .menuTabDiv label {
  color: grey;
  font-weight: 600;
  position: relative;
  padding: 8px;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  background-color: hsla(147, 10%, 85%, 0.5);
  transition: none;
}
.menuDiv .menuTabDiv label::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #107c41;
  left: 50%;
  transition: all 0.4s ease;
}
.menuDiv .menuTabDiv label:has(input[type=radio]:checked) {
  color: #107c41;
  background-color: hsl(147, 50%, 85%);
  transition: background-color 0.4s ease;
}
.menuDiv .menuTabDiv label:has(input[type=radio]:checked)::after {
  width: 100%;
  left: 0%;
}
.menuDiv .menuTabDiv label input {
  display: none;
}
.menuDiv .menu-tab-container {
  display: none;
  background-color: hsla(147, 50%, 85%, 0.5);
  padding: 1em;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.menuDiv .menu-tab-container.data .aggregates {
  display: flex;
  align-items: center;
  gap: 1em;
}
.menuDiv:has(.menuTabDiv input[type=radio][value=File]:checked) .file {
  display: flex;
}
.menuDiv:has(.menuTabDiv input[type=radio][value=Text]:checked) .text {
  display: flex;
}
.menuDiv:has(.menuTabDiv input[type=radio][value=Data]:checked) .data {
  display: flex;
}
.menuDiv:has(.menuTabDiv input[type=radio][value=Graph]:checked) .graph {
  display: flex;
}

.sheetContainer {
  height: calc(100% - 20px);
  overflow: hidden;
}

.sheetArrayChanger {
  display: flex;
  align-items: center;
  margin: 8px;
  margin-bottom: 0px;
  background-color: hsla(147, 50%, 85%, 0.5);
  border-radius: 4px;
  outline: none;
}
.sheetArrayChanger button {
  font-family: "Segoe UI";
  font-size: 16px;
  color: green;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  margin: 0.4em;
  background-color: white;
}
.sheetArrayChanger button:hover {
  outline: 1px solid rgba(68, 68, 68, 0.2666666667);
}
.sheetArrayChanger .sheetTabs {
  display: flex;
  gap: 8px;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}
.sheetArrayChanger .sheetTabs input.sheetTab {
  font-family: "Segoe UI";
  background: hsl(147, 50%, 85%);
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
  border: none;
  cursor: pointer;
  height: 1.2em;
  transition: height 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.sheetArrayChanger .sheetTabs input.sheetTab:focus, .sheetArrayChanger .sheetTabs input.sheetTab:focus-within {
  outline: none;
}
.sheetArrayChanger .sheetTabs input.sheetTab[data-current] {
  height: 1.8em;
  background: hsl(147, 50%, 50%);
  color: white;
  font-weight: 500;
}

.popup {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
  left: 0px;
  display: none;
  place-items: center;
  margin: auto;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.2);
}

.find-and-replace {
  background-color: white;
  padding: 1em;
  position: relative;
  display: grid;
  gap: 1em;
  pointer-events: all;
  border-radius: 4px;
  font-family: "Segoe UI";
}
.find-and-replace button {
  border: none;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 4px;
}
.find-and-replace input {
  padding: 0.4em;
}
.find-and-replace input:focus, .find-and-replace input:focus-visible {
  outline: none;
}
.find-and-replace .option-tab {
  display: flex;
  gap: 1em;
}
.find-and-replace .option-tab input[type=radio] {
  display: none;
}
.find-and-replace .option-tab label {
  padding: 0.4em;
  position: relative;
  cursor: pointer;
}
.find-and-replace .option-tab label:has(:checked)::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: #107c41;
  left: 0px;
}
.find-and-replace .option-tab label:hover {
  background-color: rgb(237, 235, 233);
}
.find-and-replace h3 {
  color: #107c41;
  cursor: all-scroll;
}
.find-and-replace .find-bar, .find-and-replace .replace-bar {
  display: grid;
  gap: 0.4em;
}
.find-and-replace .btn-div {
  display: flex;
  gap: 0.5em;
}
.find-and-replace .find-btn {
  background-color: #107c41;
  color: white;
}
.find-and-replace .close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  background: transparent;
}
.find-and-replace .close-btn:hover {
  background-color: rgb(237, 235, 233);
}
.find-and-replace:has(#find-radio:checked) .replace-bar, .find-and-replace:has(#find-radio:checked) .replace-btn {
  display: none;
}

.file-opener-div {
  background-color: white;
  width: 60%;
  height: 70%;
  position: relative;
  top: 15%;
  margin: auto;
  pointer-events: all;
}
.file-opener-div .file-card h2 {
  cursor: default;
}
.file-opener-div .file-icon {
  background-image: url("./../assets/xlsx.svg");
  width: 1em;
  aspect-ratio: 1/1;
}/*# sourceMappingURL=excel.css.map */