// *{
//     box-sizing: border-box;
// }
.menuDiv{
    // border: 1px solid green;
    // height: 50px;
    // display: flex;
    flex-direction: column;
    align-items: stretch;
    // gap:0.2em;
    font-family: "Segoe UI";
    button{
        // background-color: white;
        font-family: "Segoe UI";
        font-size: 16px;
        color: green;
        padding: 0.5em;
        border-radius: 4px;
        border: none;
        background-color: white;
        &:hover{
            outline: 1px solid #44444444;
        }
        // aspect-ratio: 1/1;
    }
    background-color: #f5f5f5;
    // padding: 0.4em;

    // .searchDiv{
    //     input{
    //         // width: 0%;
    //         font-family: "Segoe UI";
    //         width: 100%;
    //         padding: 0.4em;
    //         border-radius: 4px;
    //         background-color: white;
    //         border: none;
    //         &:focus, &:focus-within{
    //             outline: none;
    //         }
    //     }
    //     // &:hover input, input:focus{
    //     //     width: 100%;
    //     // }
    //     // &::after{
    //     //     content: "🔍";
    //     // }
    // }
    // .aggregates{
    //     padding-block: 1em;
    //     span{
    //         // padding: 1em;
    //         padding-inline-end:1em;
    //     }
    // } 

    .menuTabDiv{
        display: flex;
        gap: 4px;
        margin-inline: 4px;
        margin-top: 4px;
        label{
            color: grey;
            font-weight: 600;
            position: relative;
            padding: 8px;
            border-radius: 4px 4px 0px 0px;
            cursor: pointer;
            background-color: hsla(147, 10%, 85%, 0.5);
            transition: none;

            &::after{
                content: "";
                display: block;
                width: 0%;
                height: 2px;
                position: absolute;
                left: 0px;
                bottom: 0px;
                background-color: #107c41;
                left: 50%;
                transition: all 0.4s ease;
            }
            &:has(input[type="radio"]:checked){
                color: #107c41;
                background-color: hsl(147, 50%, 85%);
                transition: background-color 0.4s ease;
                &::after{
                    width: 100%;
                    left: 0%;
                }
            }
            input{
                display: none;
            }
        }

    }
    .menu-tab-container{
        display: none;
        background-color: hsl(147deg 50% 85% / 50%);
        padding: 1em;
        gap: 1em;
        // height: 100px;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;

        &.data .aggregates{
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }

    $tabNames: ("File":"file","Text":"text", "Data":"data","Graph":"graph");
    @each $value,$className in $tabNames{
        &:has(.menuTabDiv input[type="radio"][value=#{$value}]:checked){
            & .#{$className}{
                display: flex;
            }
        }
    }
    // &:has(.menuTabDiv input[type="radio"][value="Text"]:checked){
    //     & .text{
    //         display: block;
    //     }
    // }
    // &:has(.menuTabDiv input[type="radio"][value="Data"]:checked){
    //     & .data{
    //         display: block;
    //     }
    // }
    // &:has(.menuTabDiv input[type="radio"][value="Graph"]:checked){
    //     & .graph{
    //         display: block;
    //     }
    // }
}
.sheetContainer{
    height: calc(100% - 20px);
    overflow: hidden;

    
}

.sheetArrayChanger{
    display: flex;
    align-items: center;
    // gap: 1em;
    margin: 8px;
    margin-bottom: 0px;
    background-color: hsl(147deg 50% 85% / 50%);
    border-radius: 4px;
    outline: none;
    // flex-wrap:wrap;

    button{
        // background-color: white;
        font-family: "Segoe UI";
        font-size: 16px;
        color: green;
        display: grid;
        place-content: center;
        border: none;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        flex-shrink: 0;
        margin: 0.4em;
        background-color: white;
        &:hover{
            outline: 1px solid #44444444;
        }
        // aspect-ratio: 1/1;
    }

    .sheetTabs{
        display:flex;
        gap:8px;
        align-items:center;
        // height:1.4em;
        overflow: scroll;
        scrollbar-width: none;
        // flex-wrap:wrap;
        input.sheetTab{
          font-family: "Segoe UI";
          background: hsl(147, 50%, 85%);
          max-width: 50px;
          padding:4px;
          border-radius:4px 4px 4px 4px;
          border:none;
          cursor:pointer;
          height:1.2em;
          transition:height 500ms cubic-bezier(0.19, 1, 0.22, 1);
          &:focus, &:focus-within{
            outline:none;
          }
          &[data-current]{
            // transform-origin: bottom;
            height:1.8em;
            background: hsl(147, 50%, 50%);
            color: white;
            font-weight: 500;
            // transform: scale(1, 1.2);
          }
        }
      }
}


  
.popup{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: none;
    place-items: center;
    margin: auto;
    pointer-events: none;
    background-color: #80808033;
}

.find-and-replace{
    background-color: white;
    padding: 1em;
    position: relative;
    display: grid;
    gap: 1em;
    pointer-events: all;
    border-radius: 4px;
    font-family: "Segoe UI";
    // transition: left 0.1s linear 0.1s, top 0.1s linear 0.1s;
    button{
        border: none;
        padding: 0.5em;
        cursor: pointer;
        border-radius: 4px;
    }
    input{
        padding: 0.4em;
        &:focus, &:focus-visible{
            outline: none;
        }
    }
    
    .option-tab{
        display: flex;
        gap: 1em;
        input[type="radio"]{
            display: none;
        }
        label{
            padding: 0.4em;
            position: relative;
            cursor: pointer;
            &:has(:checked){
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    height: 3px;
                    background-color: #107c41;
                    left: 0px;
                }
            }
            &:hover{
                background-color: rgb(237, 235, 233);
            }
        }
        
    }
    h3{
        color: #107c41;
        cursor: all-scroll;
    }
    .find-bar, .replace-bar{
        display: grid;
        gap: 0.4em;
    }
    .btn-div{
        display: flex;
        gap: 0.5em;
    }
    .find-btn{
        background-color: #107c41;
        color: white;
    }
    .close-btn{
        position: absolute;
        right: 0px;
        top: 0px;
        background: transparent;
        // padding: 0px;
        &:hover{
            background-color: rgb(237, 235, 233);
        }
    }

    &:has(#find-radio:checked){
        .replace-bar, .replace-btn{
            display: none;
        }
    }
    
}