.tableContainer{
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);
    grid-template-rows: 30px calc(100% - 30px);
    // &>*{
    //     outline: 1px solid blue;
    // }
    // overflow: scroll;
    // scrollbar-width: thin;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    canvas{
        image-rendering: pixelated;
    }
    // resize: both;
}

.headerRef{
    display: block;
    position: sticky;
    top: 0px;
    // left:30px;
    height: 30px;
    // width: 100%;
    background-color: #f5f5f5;
    // outline: 1px solid blue;
}
.rowRef{
    display: block;
    position: sticky;
    background-color: #f5f5f5;
    left: 0px;
    // top:30px;
    width: 50px;
    // height: 100%;
    // outline: 1px solid blue;
}
.tableDiv{
    // outline: 1px solid blue;
    // min-width: 10000px;
    // min-height: 10000px;
    // background-color: rgb(230, 230, 105);
    display: block;
    overflow: scroll;
    position: relative;
    // resize: both;
    // top: 30px;
    // left: 30px;
    .sizeDiv{
        // position: relative;
        .inputEditor{
            position: absolute;
            display: none;
            padding: 0px;
            box-sizing: border-box;
            align-items: end;
            border: 1px solid #107c41;
            background-color: white;
            input,textarea{
                margin-bottom: -2px;
                border: none;
                box-sizing: border-box;
                width: 100%;
                font-size: 16px;
                padding: 0px;
                text-indent: 4px;
                font-family: 'Titillium Web';
                // height: 100%;
                background-color: transparent;
                &:focus, &:focus-visible{
                    outline: none;
                }
            }
        }
    }
}
.tableRef{
    // outline: 1px solid red;
    display: block;
    position: sticky;
    top: 0px;
    left: 0px;
    cursor: cell;
    // width: 100%;
    // height: 100%;
}
.selectAllButton{
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: grey;
    z-index: 3;
    // outline: 1px solid blue;
}