// @import 'sheet.scss';
// @font-face {
//     font-family: "Excel Font";
//     src: url("https://fs.microsoft.com/fs/4.39/rawguids/33626092539");
// }

*{
    margin: 0px;
}
body{
    position: relative;
}

#excelContainer{
    height: 100dvh;
    box-sizing: border-box;
    // border: 1px solid red;
    // max-height: 100dvh;
    // overflow: hidden;
    display: flex;
    flex-direction: column;

}